<h1>Admin Dashboard</h1>
<p>You've reached admin/users/index.html.erb</p>
<h3><%= link_to "Create a new user", new_admin_user_path%></h3>

<h1>Users Index</h1>
<%= paginate @users %>
<p>You've reached users/index.html.erb</p>
<% @users.each do |user| %>
  <p><%= link_to user.firstname, admin_user_path(user) %></p>
  <% end %>


